<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>500px Code Challenge</title>

		<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>

	<body>
		<header class="ui container">
			<div class="ui menu">
				<div class="header item">
					500px Code Challenge
				</div>

				<div class="right menu">
					{% if not authenticated %}
					<a href="{{ url_for('login') }}" class="item">Login</a>
					{% else %}
					<a href="{{ url_for('logout') }}" class="item">Logout</a>
					{% endif %}
				</div>
			</div>
		</header>

		<div class="ui container">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div id="messages">
				{% for category, message in messages %}
					<div class="ui {{ category }} message">
						<i class="close icon"></i>
						<div class="header">{{ message }}</div>
					</div>
				{% endfor %}
				</div>
			{% endif %}
			{% endwith %}

			<div id="content">
			{% block body %}
			{% endblock %}
			</div>
		</div>

		<div id="modals">

			<div id="non-authenticated-like" class="ui small basic modal">
				<i class="close icon"></i>
				<div class="ui icon header">
					<i class="warning sign icon"></i>
					You are not logged into 500px
				</div>
				<div class="content">
					<p>You will need to log into 500px to Like this photo.  You will be redirected back to this image after you have successfully logged in.</p>
				</div>
				<div class="actions">
					<a class="ui red basic cancel inverted button">
						<i class="remove icon"></i>
						Cancel
					</a>
					<a href="{{ url_for('login') }}" class="login ui green basic inverted button">
						<i class="checkmark icon"></i>
						Login
					</a>
				</div>
			</div>

		</div>


		<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
		<script src="/static/semantic/dist/semantic.min.js"></script>
		<script>
		$(function(){

			var authenticated = {% if authenticated %}true{% else %}false{% endif %};
			var base_login_url = '{{ url_for('login') }}';
			var index_url = '{{ url_for('index') }}';

			$('.message .close')
			  .on('click', function() {
			    $(this)
			      .closest('.message')
			      .transition('fade')
			    ;
			  })
			;

			$('#photos .ui.image').dimmer({
			  on: 'hover'
			});

			$('#photos .ui.image button.like').click( function(e){
				e.preventDefault();

				var elem = $(this).parents('.ui.image')[0];
				var button = $(this);

				if (!authenticated){
					var url = base_login_url + '?next=' + encodeURIComponent(index_url + '#' + $(elem).attr('id') );
					$('.login.button', '#non-authenticated-like').attr('href', url);
					$("#non-authenticated-like").modal('show');

					return false;
				}

				var url = $(this).data('vote-url')
				if ( $(button).hasClass('active') ){
					url = $(this).data('delete-vote-url')
				}

				$.ajax({
					type: "POST",
					url: url,
					data: {},
					beforeSend: function(){
						$(button).addClass('loading');
					},
					success: function(data){
						console.log( data, 'photo' in data );
						if ('photo' in data){

							$('.likes', elem).transition('scale', function(){
								$('.likes', elem).text( data.photo.positive_votes_count );
								$('.likes', elem).transition('scale');
							});
							
							$(button).toggleClass('active');
						} else if ( 'error' in data ){
							if (data.error_code == 'already_voted'){
								$(button).addClass('active');
							}
						}
					},
					complete: function(jqXHR, textStatus){
						$(button).removeClass('loading');
					}
				});
			});
		});
		</script>
	</body>
</html>
